/*
Theme Name:     theme-gabarit
Theme URI:      http://www.codesourcestudio.com
Description:    Thème enfant du thème parent CSSCO
Author:         Code Source Studio	
Author URI:     http://www.codesourcestudio.com
Template: 		cssco
Version:        1.0.0
*/

